
.card-container {
    padding-bottom: 5px;
    padding-top: 3px;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}

.name{
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 0px;
    font-family: Helvetica;
    font-size: 20px;
    text-transform: uppercase;
}

.location{
    font-family: Helvetica;
    font-size: 15px;
}




.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
